/* PT sans */
@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color:#ffffff; 
    color: #000000;
    
  }
  .main-container {
    flex-grow: 1;
  }

  .button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    
  }
  
  .page-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
/* навигация */
  .navigation {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    
  }
  .navigation-logo{
    display: block;
    width: 138px;
    margin-left: 70px;
    z-index: 1;

  }
  .navigation-list {
    margin: 0 auto;
  }
  .navigation-menu{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 28px;
    width: 339px;
    align-self: baseline;
  }
  .navigation-user {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 268px;
    margin-left: auto;
    margin-right: 70px; 
  }

  .navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
  }
  .navigation-link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #000000;
    padding: 20px 16px;
  }
.navigation-button {
  color: #ffffff;
  width: 92px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 8px 34px;
  border-radius: 4px;
  
}

 
  .page-container {/* нужен ли тут паддинг как в демонстрации и какой? на макете я вижу тоько заползание логотипа это мб минусовой марджин, но я не уверена*/
    width: 1200px;
    margin: 0 auto;
    margin-top: -12px;
    
  }
  .hero-background{
    display: block;
    margin: 0 auto;
  }
  .hero-welcome{
    display: block;
    margin: 0 auto;
    margin-top: -434px;
    margin-bottom: 82px;
  }
  /*Приимущества */
  
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 21px;
  }
  .advantages-slogan { /*Аризона не влазит(( */
    display: block;
    width: 620px;
    margin: 0 auto;
    padding-top: 69px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center; 
  }
  .advantages-becouse {
    display: block;
    width: 651px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 69px;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
  }
  .advantages-title {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    width: 175px;
  }
  .advantages-description{
    display: block;
    margin: 0 auto;
    margin-top: 62px;
    color: #333333;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    width: 230px;
  }
  .advantages-item {
    height: 385px;
  }
  .advantages-item-text {
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }
  .advantages-item-blue { 
    display: flex;
    width: 1200px;
    background-color: #82B3D3;
    color: #ffffff; 
    
  } 
  .advantages-description-blue {
    color: #ffffff;
  }
  .advantages-blue-text {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  .advantages-blue-text .advantages-title {
    margin: 0 auto;
    margin-top: 102px; 
  }
  .advantages-blue-reverse {
    flex-direction: row-reverse;
  }

 
/* Услуги*/
.services-list {
  display: flex;
  list-style-type: none ;
  padding: 0;
}
.services-item{
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.services-slogan {
    display: block;
    width: 505px;
    margin: 0 auto;
    padding-top: 64px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
}
.services-becouse {
    display: block;
    width: 490px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 64px;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
}
.services-title { /* там еще иконка сверху, она вроде должна быть в следующем разделе*/
  display: block;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}
.services-description {
  display: block;
  width: 230px;
  color: #333333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 81px;
}

  /* Бронирование*/
.booking {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}  
.booking-slogan {
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 96px;
}
.booking-becouse { /* текст не получился ровно((*/
    display: block;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
    width: 592px;
    margin-top: 20px;
}
.booking-link {
  display: block;
  font-size: 20px;
  line-height: 36px;
  width: 276px;
  height: 36px;
  margin: 0 auto;
  text-align: center;
  margin-top: 54px;
  padding: 8px 50px;
  margin-bottom: 96px;
}

 /* рассылка*/
  .newsletter {
    background-image: url("../images/Subscribe.jpg"); /* тут расположение фона не получилось, не заполняет весь блок, какой будет верный бекграунд позишон или другое свойство?*/
    background-size: 100% auto;
    background-position: 100%;;
    background-repeat: no-repeat;
    height: 415px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin: 0 auto;
      
  }
  .newsletter-title {
    display: block;
    text-transform: uppercase;
    margin-top: 96px;
    width: 404px;
    font-size: 30px;
    line-height: 36px;
  }
  .newsletter-legend {
    display: block;
    font-size: 22px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 0;
    width: 475px;
    text-align: center;
  }
  .newsletter-form {
    display: flex;
    justify-content: center;
    margin-top: 54px;
    min-width: 684px;
    margin-bottom: 104px;
    
  }
  .newsletter-form .field {
    display: block;
    font-family: 'PT Sans';
    font-size: 18px;
    line-height: 24px;
    width: 452px;
    height: 52px;
    padding: 0;
    border: 0;
  }
  .newsletter-button {
    display: block;
    background-color: #82B3D3;
    border: none;
    font-size: 20px;
    line-height: 36px;
    min-width: 232px;
    height: 52px;
    text-align: center;
    padding: 8px 50px;
  }
  /* футер*/
  .page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
  }
  .page-footer {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .footer-link {
    display: block;
    
  }
  .footer-social {
    display: flex;
    width: 144px;
    margin-left: 70px; 
    
  }

  .footer-social-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none ;
    flex-direction: row;
    margin: 0;
    padding: 0; 
    margin-top: 45px;
    margin-bottom: 35px; 
}
.footer-social-item {
  width: 48px;
  height: 40px;
}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

  .page-footer a {
    color: #000000;
    text-decoration: none;
  }
  
  .footer-contacts-phone{
    font-size: 40px;
    line-height: 40px; 
    display: block;
    width: 331px; 
  }
  .footer-contacts-web {
    display: block;
    width: 115px;
    margin-right: 70px; 
  }
  /* к каталогу*/
  .page-container {
    margin: 0 auto; /* как поднять основное содержание?*/
  }
  .main-container {
    margin: 0 auto;
  }
  .inner-header { 
    background-image: url("../images/filter.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 412px;
    width: 1200px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    
  }
  .inner-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px; 
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    margin-left: 70px;
  }
  
  .breadcrumbs {
    list-style-type: none ; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-top: 8px;
  }
  .breadcrumbs-link {
    color: inherit;
    text-decoration: none;
    display: block;
    min-width: 21px;
    min-height: 21px;
    margin-right: 29px; /* подготовка места под стрелочку*/

  }
  /* фильтры*/
  .catalog-products {
    color: #ffffff;
    display: flex;
  }
  .catalog-filter {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    justify-content:space-between;
    margin: 0 auto;
    margin-top: -230px;
    margin-bottom: 73px;
  }
  .catalog-filter-group {
    padding: 0;
    border: none;
  }
  .catalog-filter-group-infra{
    margin-left: 70px;
  }
  .catalog-filter-group-price {
    width: 549px;
    margin-right: 70px;
  }
  
  .catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    
  }

  .catalog-filter-list {
    list-style-type: none ;
    padding: 0;
    
  }
  .catalog-filter-button{
    background-color: #82B3D3;
    border: none;
    display: block;
    width: 191px;
    height: 36px;
  }
  .catalog-filter-button-clean {
    background-color: transparent;
    border: none;
  }
.sorting-container{
  display: flex;
  margin-top: 50px;
}
  .select-results {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    margin-left: 70px;
  }
  .select-control { 
    font-family: "PT Sans", sans-serif;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    display: block;
    width: 292px;
    margin-right: 40px;
    justify-content: space-between;
  }
  .view-sorting {
    display: flex;
    margin-left: 40px;
    margin-right: 70px;
    flex-wrap: wrap;
    width: 160px;
    justify-content: space-between;

  }
  .button-view {
    background-color: transparent;
    min-width: 16px;
    min-height: 14px;
    padding: 14px 12px;
  }
  .button-view-border {
    border: 2px solid #000000;
    border-radius: 4px;
  }
/* карточки товаров*/

  .product-list {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-top: 40px;
    margin-bottom: 40px;/*тут нужен марджин как в презентации?*/
    display: grid;
    grid-template-columns: 340px 340px 340px;
    gap: 20px;
  }
  .product-card {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
  }
  .product-card-link {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  .product-card-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  
  .button-favorites {
    background-color: #82B3D3;
  }
  .button-favorites-green {
    background-color: #7DB54F;;
  }

/* пагинация*/
  .pagination {
    list-style-type: none ;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    width: 400px;
    margin-top: 40px;
  }
  .pagination-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    background-color: #82B3D3;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    min-width: 24px;
    min-height: 36px;
    padding: 12px 18px;
    border-radius: 4px;
    
  }
  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }
  .pagination-current { /**/
    background-color: transparent;
    color: #000000; 
  }
  .newsletter-inner {
    height: 415px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  } /*принормальном масштабе 100% почемуто марджин между формой и футером странно работает, хотя прописан 104px*/