/* PT sans */
@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color:pink;
    color: #000000;
    
  }
  /* Шапка фон и цвет текста как в боди кнопка отдельно */
  .page-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }
  .navigation-list{
    list-style-type: none;
  }
  .navigation-link {
    text-decoration: none;
    text-align: center;
    color: #000000;
  }

  .button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
  }
  /*Приимущества */
  .advantages-list {
    list-style-type: none;
  }
  .advantages-slogan {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    
  }
  .advantages-becouse {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
  }
  .advantages-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  .advantages-description{
    color: #333333;
    text-align: center;/* центрирование сразу? или когда уже будем делать флексы?*/
  }
  .advantages-item:first-child { /* вот тут меня запутали, на лайве было, что надо просто добавить класс и все, на случай если станет больше карточек ╮(￣ω￣;)╭*/
    background-color: #82B3D3;
    color: #ffffff; 
  } 
  .advantages-item:last-child {
    background-color: #82B3D3;
    color: #ffffff; 
  }
  .advantages-item:first-child > p {
    color: #ffffff;
}
.advantages-item:last-child > p {
    color: #ffffff;
}
/* Услуги*/
.services-list {
    list-style-type: none ;
}
  .services-slogan {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
  }
  .services-becouse {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;
  }
  .services-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
  }
  .services-description {
    color: #333333;
    text-align: center;}

  /* Бронирование*/
  
  .booking-slogan {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;

  }
  .booking-becouse {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    text-align: center;

  }
 /* рассылка*/
  .newsletter {
    background-image: url("../images/Subscribe.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 415px;
    width: 1200px;
    color: #ffffff;
      
  }
  .newsletter-title {
    text-transform: uppercase;
  }
  .newsletter-button {
    background-color: #82B3D3;
    border: none;
  }
  .footer-social-list {
    list-style-type: none ;
}
 
  .page-footer a {
    color: #000000;
    text-decoration: none;
  }
  .footer-contacts-phone{
    font-size: 40px;
    line-height: 40px;
    
  }
  /* к каталогу*/
  
  .inner-header { 
    background-image: url("../images/filter.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 412px;
    width: 1200px;
    color: #ffffff;
  }
  .inner-header-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 78px; 
  }
  
  .breadcrumbs {
    list-style-type: none ; 
  }
  .breadcrumbs-link {
    color: inherit;
    text-decoration: none;
  }
  /* фильтры*/
  .catalog-products {
    color: #ffffff;
  }
  .catalog-filter-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    
  }
  .catalog-filter-list {
    list-style-type: none ;
  }
  .catalog-filter-button{
    background-color: #82B3D3;
    border: none;
  }
  .catalog-filter-button-clean {
    background-color: transparent;
    border: none;
  }

  .select-results {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
  }
  .select-control { /* стили и шрифт применились, но шрифт выглдит странно, в инспекторе браузера вроде тоже видно что применилось ┐('～`;)┌*/
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
  }
  .button-view {
    background-color: transparent;
  }
  .button-view-border {
    border: 2px solid #000000;
    border-radius: 4px;
  }
/* карточки товаров*/

  .product-list {list-style-type: none ;}
  .product-card {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
  }
  .product-card-link {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  .product-card-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  
  .button-favorites {
    background-color: #82B3D3;
  }
  .button-favorites-green {
    background-color: #7DB54F;;
  }

/* пагинация*/
  .pagination {list-style-type: none ;}
  .pagination-link {
    color: #ffffff;
    text-decoration: none;
    background-color: #82B3D3;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    
  }
  .pagination-current { /* тут надо было пробовать делать фестчаилдом?*/
    background-color: transparent;
    color: #000000; 
  }